#bottom-one {margin-top: 50px;}

h6 {font-size: 14px;}

#others {padding: 0px; height: 300px;}

#customer {padding: 20px;}
#phone {margin-bottom: 20px;}

#bank {padding: 20px;}

#info {padding: 20px;}
#info>p {margin-bottom: 30px;}
#info>p>a>img {margin-right: 20px; width: 50px; height: 50px;}
#guide {padding-bottom: 20px;}

#company {padding: 20px 20px 20px 0px;}
#company-name {padding-bottom: 20px; font-size: 16px;}
#location {padding-bottom: 20px;}
#representative {font-size: 14px;}

#margin {height: 80px;}